*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  line-height: 1.5;
  text-decoration: none;
  font-family: Poppins;
  list-style-type: none;
  color: var(--white-color);
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
input, button, textarea, select {
    font: inherit;
}
button:hover {
  cursor: pointer;
}

:root {
  --default-padding: 1rem;
  --primary-color: #075985;
  --primary-dark-color: #082f49;
  --secondary-color: #c96534;
  --secondary-variant-color: #c14f10;
  --white-color: #f5f5f5;
  --gray-color: #f0f9ff;
}

@font-face {
  font-family: poppins;
  src: url(./fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins;
  src: url(./fonts/Poppins-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: poppins;
  src: url(./fonts/Poppins-Bold.ttf);
  font-weight: 700;
}

body {
  height: 100dvh;

  display: grid;
  grid-template: min-content 1fr / min-content 1fr;

  background-color: var(--primary-color);
  font-family: poppins;
}

.container {
  padding: var(--default-padding);
}

.searchContainer {
  grid-column: 1 / -1;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--default-padding);
}
.locationInputContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.5rem;
  padding-left: 1rem;

  background-color: var(--primary-dark-color);
  border-radius: 50vw;
}
.locationInputContainer > input {
  background-color: transparent;
  border: none;
  caret-color: var(--white-color);
}
.locationInputContainer > input:focus {
  outline: none;
}
.locationInputContainer > button, #myLocationBtn {
  padding: 0.25rem;

  background-color: var(--secondary-color);
  border: none;
  border-radius: 50vw;
  
  transition: background-color 0.3s;
}
.locationInputContainer > button:hover, #myLocationBtn:hover {
  background-color: var(--secondary-variant-color);
}
#myLocationBtn {
  padding: 0.5rem 1rem;
  height: 100%;
}

.currentWeatherContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--default-padding);

  padding: var(--default-padding) calc(6 * var(--default-padding));
}
.currentWeatherContainer > .current {
  text-align: center;
  font-size: 1.3rem;
}
.currentWeatherContainer > img {
  --size: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;

  height: var(--size);
  width: var(--size);
  max-width: none;
}
.currentWeatherContainer > .temp {
  font-size: 2rem;
}

.forecastWeatherContainer table {
  margin: var(--default-padding) 0;
  border-collapse: collapse;
  font-size: 1.1rem;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
.forecastWeatherContainer table thead tr {
  background-color: var(--secondary-color);
  text-align: left;
  font-weight: 700;
}
.forecastWeatherContainer table th,
.forecastWeatherContainer table td {
  padding: calc(0.5 * var(--default-padding));
}
.forecastWeatherContainer table tbody tr {
  border-bottom: 1px solid var(--gray-color);
}
.forecastWeatherContainer table tbody tr:last-of-type {
  border-bottom: 2px solid var(--secondary-color);
}
.forecastWeatherContainer table tbody tr img {
  --size: 1.5rem;
  height: var(--size);
  width: var(--size);
}